<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Mestro</title>
    <link rel="stylesheet" href="resources/css/login.css">
</head>
<body class="body centered">
    
    <nav class="navbar">
    <div class="navbar-logo">XProject</div>
    <div class="navbar-links">
      <a href="/index">Inicio00</a>
      <a href="/logout" class="logout-btn">Cerrar sesión</a>
    </div>
  </nav>
 
    
</body>
</html>