<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveles</title>
    <link rel="stylesheet" href="resources/css/login.css">
</head>
<body class="body centered">
    <div class="contenedor">
        <select name="" id="" class="select-css">
            <option value="">Primer Grado</option>
            <option value="">Segundo grado</option>
            <option value="">Tercer Grado</option>
         
        </select>
        
    
    </div>
    
</body>
</html>