<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveles</title>
    <link rel="stylesheet" href="resources/css/login.css">
     <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body>
       <%- include('partials/navbar') %>
    <div class="grado-container">
        <h2 class="titulo-grado">Selecciona tu nivel educativo</h2>
        <form action="nivel" method="get">
        <select  class="select-grado" name="grado"">
            <option value="primer">Primer Grado</option>
            <option value="segundo">Segundo grado</option>
            <option value="tercero">Tercer Grado</option>
        </select>

         <div class="botones">
    <button class="boton-entrar">→</button>
    <a href="javascript:history.back()" class="boton-regresar">« Regresar</a>
  </div>
  </div>
   
</div>
</body>
</html>